.xn-module-article {
  padding: 0.32407407rem 0.46296296rem;
  background: #fff;
}
.xn-module-article img {
  width: 1.05555556rem;
  height: 0.97222222rem;
  border: 0;
}
.xn-module-article .article-titles {
  font-size: 0.2962963rem;
  line-height: 0.44444444rem;
  width: calc(100% - 1.5rem);
  color: #363636;
  margin-left: 0.37037037rem;
}
.xn-module-article .article-titles ul li:before {
  content: '';
  width: 0.05555556rem;
  height: 0.05555556rem;
  display: inline-block;
  background: #2fc2c0;
  border-radius: 50%;
}
.xn-module-article .article-titles ul li span {
  display: inline-block;
  max-width: 6.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  margin-left: 0.11111111rem;
}
.xn-module-article .article-titles ul li .label {
  background: #ff9a41;
  font-size: 0.22222222rem;
  vertical-align: middle;
  color: #fff;
  border-radius: 20%;
  padding: 0 0.09259259rem;
  font-style: normal;
  margin-left: 0.13888889rem;
}
.xn-module-article .fl {
  float: left;
}
.xn-module-article .fr {
  float: right;
}
.clearfix:after,
.clearfix:before {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
