<!DOCTYPE html >
<html lang="zh-CN">
<head>
    <link rel="Shortcut Icon"  href="$config.getCdnUrl('img/favicon.ico')" type="image/x-icon">
    <link href="$config.getCdnUrl('css/xn-bootstrap/1.0.2/bootstrap.min.css')" rel="stylesheet">

</head>
<body ng-controller="BodyController" >
    <div id="loadingInit"  class="xn-loading-img" ng-if="global.loadingInit"></div>
    $control.setTemplate("tutorial:header")
    $screen_placeholder
    $control.setTemplate("tutorial:footer")

    <script type="text/javascript">
        var xnConfig = {
            wwwUrl: "$config.getWwwUrl("")",
            employeeUrl: "$config.getEmployeeUrl("")",
            authUrl: "$config.getAuthUrl("")",
            serviceUrl: "$config.getServiceUrl("")",
            myUrl: "$config.getMyUrl("")",
            helpUrl: "https://site.xiniunet.com/"
        };

        /*ng-app的运用*/
        angular.element(document).ready(function () {
            initApp();
            angular.bootstrap(document.body, ['xn']);
        });
    </script>

</body>
</html>
