<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="xn-module-application m019">
        <a href="http://my-plat.xiniunet.com/employee/application.htm" target="_blank">
            <div class="useCenter">
                <i class="icon icon-app icon-xn"></i>
                <span>点我进入应用中心</span>
                <div>点击最上方“应用中心”也可进入哦</div>
            </div>
        </a>

        <div class="member-info">


            <div class="member-header clearfix">

                <img class="portrait f-left" width="40" height="40" ng-src="http://xiniunet-dev.oss-cn-hangzhou.aliyuncs.com/common/avatar_default.png" alt="头像" src="http://xiniunet-dev.oss-cn-hangzhou.aliyuncs.com/common/avatar_default.png">

                <div class="info f-left">
                    <div class="name">系统管理员</div>
                    <div class="note"></div>
                </div>
            </div>
            <ul class="items-wrap">
                <li class="items">
                    <a class="name artic f-left" href="http://site.xiniunet.com/content/articles/index.htm" target="_blank">我的文章</a>
                    <span class="views f-right ng-binding">1</span>
                </li>
                <li class="items">
                    <a class="name colle f-left" href="http://site.xiniunet.com/content/collections/index.htm" target="_blank">我的收藏</a>
                    <span class="views f-right ng-binding">0</span>
                </li>
                <li class="items">
                    <a class="name interest f-left" href="http://site.xiniunet.com/employee/follow.htm" target="_blank">关注</a>
                    <span class="views f-right ng-binding">0</span>
                </li>
                <li class="items">
                    <span class="name be-interest f-left">被关注</span>
                    <span class="views f-right ng-binding">0</span>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>