
<div id="head" >
    <div class="xn-header"  xn-fixed>
        <div class="xn-width auto header-top  clearfix">
            <div class="f-left">欢迎你,$principal.userName@$principal.tenantName</div>
            <div  header-info-center  icon-base-url="$config.getImgUrl("")"
                  data-about-url="$homeLink.setTarget('about')"
                  data-index-url="$homeLink.setTarget('index')"
                  default-show="defaultShow"
                  class="clearfix">
            </div>
        </div>
        <div  ng-mouseleave="cancelNav()">
            <div id="nav" class="xn-nav"  >
                <div class="xn-width auto clearfix">
                    <div class="nav-box clearfix">
                        <div class="nav-left">
                            <a  id="logo" class="img-a" href="$config.getEmployeeUrl('index.vm')">
                                <img class="app-logo" src="$config.getCdnUrl('img/logo/logo.png')" alt="犀牛logo"/>
                            </a>
                            <a  class="app-title" href="$tutorialwuLink.setTarget('index.vm')">
                                <img class="logo-title"  src="$config.getCdnUrl('img/logo/project/employee-title.png')" height="28" alt="电商后台">
                            </a>
                        </div>
                        <ul class="nav-list clearfix">
                            <li class="nav-li" ng-class="{'nav-li-hover':navShow==0 }"  ng-mouseenter="navShow=0"><a class="nav-a" href="$tutorialwuLink.setTarget("category/index")" target="_self">部门<span class="nav-tri"></span></a></li>
                            <li class="nav-li" ng-class="{'nav-li-hover':navShow==1 }"  ng-mouseenter="navShow=1"><a class="nav-a" href="$tutorialwuLink.setTarget("employee/index")" target="_self">员工<span class="nav-tri"></span></a></li>
                            <li class="nav-li" ng-class="{'nav-li-hover':navShow==2 }"  ng-mouseenter="navShow=2"><a class="nav-a" href="#" target="_self">促销管理<span class="nav-tri"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--二级导航，根据需要看是否添加-->
            <div class="second-nav" >
                <div class="xn-width auto ">
                    <!--部门-->
                    <ul class="second-nav-ul" ng-show="navShow==0">
                        <li class="second-nav-li" ng-class="{'second-nav-li-active':subNavShow==0}"  ng-mouseenter="subNavShow=0" ><a target="_self"  href="$tutorialwuLink.setTarget("organization/create")">创建</a></li>
                        <li class="second-nav-li" ng-class="{'second-nav-li-active':subNavShow==1}"  ng-mouseenter="subNavShow=1" ><a target="_self"  href="$tutorialwuLink.setTarget("organization/edit")">编辑</a></li>
                        <li class="second-nav-li" ng-class="{'second-nav-li-active':subNavShow==2}"  ng-mouseenter="subNavShow=2" ><a target="_self"  href="$tutorialwuLink.setTarget("organization/view")">查看</a></li>

                    </ul>
                    <!--员工-->
                    <ul class="second-nav-ul" ng-show="navShow==1">
                        <li class="second-nav-li" ng-class="{'second-nav-li-active':subNavShow==0}"  ng-mouseenter="subNavShow=0"><a  target="_self" href="$tutorialwuLink.setTarget("employee/create")">创建</a></li>
                        <li class="second-nav-li" ng-class="{'second-nav-li-active':subNavShow==1}"  ng-mouseenter="subNavShow=1"><a  target="_self" href="$tutorialwuLink.setTarget("employee/edit")">编辑</a></li>
                        <li class="second-nav-li" ng-class="{'second-nav-li-active':subNavShow==2}"  ng-mouseenter="subNavShow=2"><a  target="_self" href="$tutorialwuLink.setTarget("employee/view")">查看员工</a></li>

                    </ul>

                    <!--运营管理-->
                    <ul class="second-nav-ul" ng-show="navShow==2">
                        <li class="second-nav-li" ng-class="{'second-nav-li-active':subNavShow==0}"  ng-mouseenter="subNavShow=0"><a target="_self"  href="$tutorialwuLink.setTarget("operateManage/index")">设置</a></li>
                        <li class="second-nav-li" ng-class="{'second-nav-li-active':subNavShow==1}"  ng-mouseenter="subNavShow=1"><a target="_self"  href="$tutorialwuLink.setTarget("advertisement/index")">广告维护</a></li>
                        <li class="second-nav-li" ng-class="{'second-nav-li-active':subNavShow==2}"  ng-mouseenter="subNavShow=2"><a target="_self"  href="$tutorialwuLink.setTarget("feedback/index")">在线反馈</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>