$page.setTitle("项目工作台")
$page.addBodyAttribute("data-xns", "00034")
<div class="xn-pm">
    <div class="pm-setting-index-bottom clearfix mt_20" >
        <div class="clearfix xn-input-line f-right">
            <a class="btn btn-primary f-right ml_10" ng-href="$projectLink.setTarget('project/createproject.htm')">创建项目</a>
            <a class="btn btn-primary f-right ml_10" ng-href="$projectLink.setTarget('application/index.htm')">立项申请</a>
        </div>
    </div>
</div>


<div class="xn-pm pm-common" ng-controller="HomeEditController" >



    <div class="workbench_body" >
        {{name}}
    </div>

</div>


<script type="text/javascript" src="$tutorialwuContent.getURI('dist/scripts/home.js')"></script>

