<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="/js/zepto.js"></script>
    <script src="/js/touch.js"></script>

    <style>
        .btn {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: #39f;
            margin: 0 auto;
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="btn">button</div>

    <script>
        var t, t1;
        $('.btn').on('click', function() {
            console.log('--------------2');
            // console.time('click')
            t = Date.now();
            // console.timeEnd('click')
            console.log(t - t1);
            $('body').append('-------------------2<br>');
        })


        $('.btn').tap(function(e) {
            // e.preventDefault();
            console.log('----------1');
            t1 = Date.now();

            $('body').append('-------------------1<br>');

        })
    </script>
</body>

</html>