<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>

</head>

<body>
    <select name="" id="">
			<option value="123">hellohellohellohellohellohellohellohello</option>
			<option value="123">hellohellohellohellohellohellohellohello</option>
			<option value="123">hellohellohellohellohellohellohellohello</option>
		</select>

    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">Snap Photo</button>
    <canvas id="canvas" width="640" height="480"></canvas>

    <input type="file" accept="image/*;capture=camera">
    <script>
        var html = '北京市';
        document.cookie = "CITY_COOKIE=" + escape(html) + "";
        alert(document.cookie);
    </script>
</body>

</html>