<!DOCTYPE html>
<html>

<head>
    <title>banner</title>

    <link rel="stylesheet" href="/js/jquery.range.css">
    <link rel="stylesheet" href="../../../css/chongyin/banner1.css">
</head>

<body>
    <div class='xn-module-banner' role="main">
        <div class="container bg-white">
            <div class="row">
                <div class=" col-lg-3">
                    <div class="panel panel-default  filter">
                        <div class="panel-heading">Find your product</div>
                        <div class="panel-body">
                            <div class="form-group"><label for="GenderID">Animal</label>
                                <div class="custom-select "><select name="GenderID" id="GenderID" data-ajax="http://www.petseurope.eu/en/ajax/home.php" data-extratemplates="tpl_home_maincategories tpl_home_categories tpl_home_searchform" data-action="getMainCategories" data-method="post"><option value="1">Dogs</option><option value="2">Cats</option><option value="3">Small pets</option></select></div>
                            </div>
                            <div>
                                <div class="form-group"><label for="MainCategoryID">Product category</label>
                                    <div class="custom-select ">
                                        <select name="MainCategoryID" id="MainCategoryID" data-ajax="http://www.petseurope.eu/en/ajax/home.php" data-action="getCategories" data-extratemplates="tpl_home_categories tpl_home_searchform" data-method="post">
  
                                            <option value="8">Beds</option>
                                            <option value="9">Bowls, Feeders &amp; Dispensers</option>
                                            <option value="23">Wooden Cages</option>
                                            <option value="24">Small Animal Cages</option>
                                            <option value="25">Cat Litter Boxes &amp; Trays</option>
                                            <option value="26">Care &amp; Hygiene</option>
                                            <option value="27">Leads, Collars &amp; Harnesses</option>
                                            <option value="28">Travel &amp; Carriers</option>
                                            <option value="29">Drinking Bottles &amp; Toys</option>
                                            <option value="30">Cat Trees &amp; Scratchers</option>
                                            <option value="1">Toys</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="form-group"><label for="CategoryID">Product subcategory</label>
                                    <div class="custom-select ">
                                        <select name="CategoryID" id="CategoryID">
                                        <option value="20">Beds &amp; Cushions</option>
                                        <option value="21">Smart Bowls</option>
                                        <option value="22">Plastic Bowls</option>
                                        <option value="33">Melamine Bowls</option>
                                        <option value="23">Drinking Fountains</option>
                                        <option value="30">Dispensers</option>
                                        <option value="25">Rabbit Hutches</option>
                                        <option value="26">Chicken Hutches</option>
                                        <option value="27">Small Animal Cages</option>
                                        <option value="28">Cat Litter Boxes</option>
                                        <option value="29">Cat Litter Trays</option>
                                        <option value="44">Cat Litter Mats</option>
                                        <option value="45">Cat Litter Scoops</option>
                                        <option value="31">Waste Bags</option>
                                        <option value="32">Training Pads</option>
                                        <option value="41">Cat Litter</option>
                                        <option value="34">Tie Out Cables</option>
                                        <option value="35">Pet carriers</option>
                                        <option value="37">Crates &amp; Travel bags</option>
                                        <option value="39">Dog Houses</option>
                                        <option value="38">Fences</option>
                                        <option value="36">Drinking Bottles</option>
                                        <option value="40">Travel accessories</option>
                                        <option value="42">Drinking Bottles &amp; Toys</option>
                                        <option value="43">Cat Trees &amp; Scratchers</option>
                                        <option value="1">Cat Toys</option>
                                        <option value="46">Toys</option>
                                        <option value="48">Treat dispensers</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="price-form">
                                <form name="search" action="http://www.petseurope.eu/en/dogs/118/beds/category=beds-cushions" method="get">

                                    <div class="bar form-group">
                                        <label for="CategoryID" class="text-center">Price range</label>
                                        <input class="range-slider" type="hidden" value="0,95" />

                                    </div>
                                    <div data-template="tpl_home_button" data-effect="replaceWith"><button type="submit" name="" class="btn btn-default btn-big">Filter</button></div>
                                </form>
                            </div>
                        </div>
                    </div><a href="http://www.petseurope.eu/en/register" class="btn btn-primary btn-big">Register to view prices</a></div>
                <div class="col-lg-6 swiper-container no-padding">
                    <!-- START MAIN SLIDER -->
                    <div id="main-slider" class=" swiper-wrapper" role="banner">
                        <!-- Slide -->
                        <div class='swiper-slide'>
                            <a href="http://www.petseurope.eu/en/dogs/1273/care-hygiene/training-pads/carbon-dog-training-pads">
                                <div class="slide bg-responsive" style="background-image:url(http://www.petseurope.eu/Cached/44/piece/476x715/PetsEurope_HomePage_image_1.png)" data-xs="http://www.petseurope.eu/Cached/44/piece/476x715/PetsEurope_HomePage_image_1.png" data-sm="http://www.petseurope.eu/Cached/44/piece/375x525/PetsEurope_HomePage_image_1.png"
                                    data-md="http://www.petseurope.eu/Cached/44/piece/375x525/PetsEurope_HomePage_image_1.png" data-lg="http://www.petseurope.eu/Cached/44/piece/375x525/PetsEurope_HomePage_image_1.png">
                                    <div class="container">
                                        <div class="slick-caption">
                                            <h1>Check out our Carbon Dog Training Pads</h1>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Slide -->
                        <div class='swiper-slide'>
                            <a class='' href="http://www.petseurope.eu/en/brands/111/m-pets">
                                <div class="slide bg-responsive" style="background-image:url(http://www.petseurope.eu/Cached/45/piece/476x715/PetsEurope_HomePage_image_2_cat.png)" data-xs="http://www.petseurope.eu/Cached/45/piece/476x715/PetsEurope_HomePage_image_2_cat.png" data-sm="http://www.petseurope.eu/Cached/45/piece/375x525/PetsEurope_HomePage_image_2_cat.png"
                                    data-md="http://www.petseurope.eu/Cached/45/piece/375x525/PetsEurope_HomePage_image_2_cat.png" data-lg="http://www.petseurope.eu/Cached/45/piece/375x525/PetsEurope_HomePage_image_2_cat.png">
                                    <div class="container">
                                        <div class="slick-caption">
                                            <h1>M-PETS product range</h1>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="pagination"></div>
                    <!-- END MAIN SLIDER -->
                </div>


                <div class="col-lg-3">
                    <a href="http://www.petseurope.eu/en/dogs/119/bowls-feeders-dispensers/category=smart%20bowls" class="cta">
                        <h3>See our latest Smart Bowls</h3>
                        <p>Be inspired by M-PETS</p><span class="arrow"></span></a>
                    <a href="http://www.petseurope.eu/en/contact" class="cta">
                        <h3>Request our Catalogue in pdf</h3>
                        <p> </p><span class="arrow"></span></a>
                    <a href="http://www.petseurope.eu/en/contact" class="cta">
                        <h3>Contact us!</h3>
                        <p>Get in touch, we'll get back to you asap!</p><span class="arrow"></span></a>
                </div>
            </div>
        </div>

    </div>

    <script src='http://file.40017.cn/dujia/cn/v/dujia/modules/jquery_1e357de.js'></script>


    <script src='../../../js/swiper.js'></script>
    <script src='/js/jquery.range.js'></script>
    <script>
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 5000, //可选选项，自动滑动
            loop: true, //可选选项，开启循环
            pagination: '.pagination',
            paginationClickable: true,
        })


        $('.range-slider').jRange({
            from: 0,
            to: 95,
            step: 1,
            scale: [],
            format: '%s',
            width: 200,
            showLabels: true,
            isRange: true

        });
    </script>


</body>

</html>