<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <link rel="stylesheet" href="../../../css/chongyin/footer.1.css">
</head>

<body>
    <div class="container">
        <footer class="footer section" data-template="tpl_footer">
            <div class="navbar-default">
                <!-- Top part -->
                <div class="top">
                    <div class="row clearfix">
                        <div class=" col-md-2">
                            <div class="content-block">
                                <p class="footer-title">About us</p>
                                <ul class="list-unstyled">
                                    <li><a href="http://www.petseurope.eu/en/about" title="">About us</a></li>
                                    <li><a href="http://www.petseurope.eu/en/newspress" title="">News and press</a></li>
                                    <li><a href="http://www.petseurope.eu/en/exhibitions" title="">Exhibitions</a></li>
                                    <li><a href="http://www.petseurope.eu/en/conditions" title="">Conditions</a></li>
                                    <li><a href="http://www.petseurope.eu/en/privacy" title="">Privacy policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class=" col-md-2">
                            <div class="content-block">
                                <p class="footer-title">Customer service</p>
                                <ul class="list-unstyled">
                                    <li><a href="http://www.petseurope.eu/en/contact" title="Contact us">Contact</a></li>
                                    <li><a href="http://www.petseurope.eu/en/faq" title="Frequently asked questions">FAQ</a></li>
                                    <li><a href="http://www.petseurope.eu/en/payment" title="Payment information">Payment</a></li>
                                    <li><a href="http://www.petseurope.eu/en/shipping" title="Shipping information">Shipping</a></li>
                                    <li><a href="http://www.petseurope.eu/en/returns" title="Returns">Returns</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4" id="social">
                            <div class="content-block">
                                <p class="footer-title">Connect with us</p>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="content-block" id="newsletter">
                                <p class="footer-title">Newsletter</p>
                                <div data-template="tpl_newsletter" data-effect="replaceWith">
                                    <form method="post" id="newsletter" data-ajax="http://www.petseurope.eu/en/ajax/newsletter.php" data-action="subscribe" data-extratemplates="tpl_newsletter">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-sm-6"><input type="text" name="Firstname" id="Firstname" class="form-control" placeholder="First name"></div>
                                                <div class="col-sm-6"><input type="text" name="Lastname" id="Lastname" class="form-control" placeholder="Last name"></div>
                                            </div>
                                            <div><input type="text" name="Email" id="Email" class="form-control" placeholder="Email"></div><input type="submit" class="btn btn-default" value="Subscribe"></fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bottom part -->
                <div class="bottom">
                    <div class="row clearfix">
                        <!-- Social media -->
                        <div class="col-md-6 col-sm-6">
                            <div class="text-left">
                                <p class="copyright">© 2017 PetsEurope. All rights reserved.</p>
                            </div>
                        </div>
                        <!-- Author -->
                        <div class="col-md-6 col-sm-6">
                            <div class="text-right">
                                <div class="to-top">
                                    <p><a href="#top">Back to top</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>