<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <link rel="stylesheet" href="../../../css/chongyin/login.1.css">
</head>

<body>
    <header id="top" class="header">
        <div class="container">
            <div id="navbar-top" class="navbar-inverse navbar-static-top">
                <!-- START NAVBAR COLLAPSE -->
                <div class="navbar-collapse collapse">
                    <!-- Support --><span class="navbar-left"><strong>Help &amp; Support</strong>Contact +32 0800 88 88 on Monday - Friday (8h-18h)</span>
                    <div class="info pull-right">
                        <ul class="nav navbar-nav navbar-left" id="login">
                            <!-- Login -->
                            <li><a href="http://www.petseurope.eu/en/my-profile" title="">Sherry Wei</a></li>
                            <li><a href="http://www.petseurope.eu/en/signout">Logout</a></li>
                        </ul>
                        <!-- Languages -->
                        <!-- Search -->
                        <form class="navbar-form navbar-left" role="search" action='#'>
                            <div class="form-group">
                                <label class="sr-only">Search</label>
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class=" btn-search">
                                   <img class='icon-search' src="https://cdn.xiniunet.com/img/site/m060/search.png" alt="">
                            </button>
                        </form>
                    </div>
                </div>
                <!-- END NAVBAR COLLAPSE -->
            </div>

        </div>
    </header>
</body>

</html>