<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <link rel="stylesheet" href="../../../css/chongyin/newproduct.1.css">
</head>

<body>
    <div class="container xn-module-newproduct">
        <div class="">
            <h2>New products</h2>
            <div class="row" id="products">
                <!-- Products -->
                <div class="col-md-3 col-sm-4 no-padding">
                    <a href="http://www.petseurope.eu/en/dogs/1290/beds/beds-cushions/natuna-cushion-outdooor-red" title="" class="thumbnail product">
                        <div class="labels-wrapper"></div>
                        <div class="img-container">
                            <img class="img-responsive" src="http://www.petseurope.eu/Cached/427/resize/323x704/M-PETS_NATUNA_OUTDOOR_red.png">
                        </div>
                        <div class="caption">
                            <p class="name">Natuna cushion outdooor - red</p>
                            <p class="price"><span class="regular">$6.31</span></p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <!-- Products -->
                <div class="col-md-3 col-sm-4 no-padding">
                    <a href="http://www.petseurope.eu/en/dogs/1290/beds/beds-cushions/natuna-cushion-outdooor-red" title="" class="thumbnail product">
                        <div class="labels-wrapper"></div>
                        <div class="img-container">
                            <img class="img-responsive" src="http://www.petseurope.eu/Cached/427/resize/323x704/M-PETS_NATUNA_OUTDOOR_red.png">
                        </div>
                        <div class="caption">
                            <p class="name">Natuna cushion outdooor - red</p>
                            <p class="price"><span class="regular">$6.31</span></p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <!-- Products -->
                <div class="col-md-3 col-sm-4 no-padding">
                    <a href="http://www.petseurope.eu/en/dogs/1290/beds/beds-cushions/natuna-cushion-outdooor-red" title="" class="thumbnail product">
                        <div class="labels-wrapper"></div>
                        <div class="img-container">
                            <img class="img-responsive" src="http://www.petseurope.eu/Cached/427/resize/323x704/M-PETS_NATUNA_OUTDOOR_red.png">
                        </div>
                        <div class="caption">
                            <p class="name">Natuna cushion outdooor - red</p>
                            <p class="price"><span class="regular">$6.31</span></p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <!-- Products -->
                <div class="col-md-3 col-sm-4 no-padding">
                    <a href="http://www.petseurope.eu/en/dogs/1290/beds/beds-cushions/natuna-cushion-outdooor-red" title="" class="thumbnail product">
                        <div class="labels-wrapper"></div>
                        <div class="img-container">
                            <img class="img-responsive" src="http://www.petseurope.eu/Cached/427/resize/323x704/M-PETS_NATUNA_OUTDOOR_red.png">
                        </div>
                        <div class="caption">
                            <p class="name">Natuna cushion outdooor - red</p>
                            <p class="price"><span class="regular">$6.31</span></p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <!-- Products -->
                <div class="col-md-3 col-sm-4 no-padding">
                    <a href="http://www.petseurope.eu/en/dogs/1290/beds/beds-cushions/natuna-cushion-outdooor-red" title="" class="thumbnail product">
                        <div class="labels-wrapper"></div>
                        <div class="img-container">
                            <img class="img-responsive" src="http://www.petseurope.eu/Cached/427/resize/323x704/M-PETS_NATUNA_OUTDOOR_red.png">
                        </div>
                        <div class="caption">
                            <p class="name">Natuna cushion outdooor - red</p>
                            <p class="price"><span class="regular">$6.31</span></p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <!-- Products -->
                <div class="col-md-3 col-sm-4 no-padding">
                    <a href="http://www.petseurope.eu/en/dogs/1290/beds/beds-cushions/natuna-cushion-outdooor-red" title="" class="thumbnail product">
                        <div class="labels-wrapper"></div>
                        <div class="img-container">
                            <img class="img-responsive" src="http://www.petseurope.eu/Cached/427/resize/323x704/M-PETS_NATUNA_OUTDOOR_red.png">
                        </div>
                        <div class="caption">
                            <p class="name">Natuna cushion outdooor - red</p>
                            <p class="price"><span class="regular">$6.31</span></p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <!-- Products -->
                <div class="col-md-3 col-sm-4 no-padding">
                    <a href="http://www.petseurope.eu/en/dogs/1290/beds/beds-cushions/natuna-cushion-outdooor-red" title="" class="thumbnail product">
                        <div class="labels-wrapper"></div>
                        <div class="img-container">
                            <img class="img-responsive" src="http://www.petseurope.eu/Cached/427/resize/323x704/M-PETS_NATUNA_OUTDOOR_red.png">
                        </div>
                        <div class="caption">
                            <p class="name">Natuna cushion outdooor - red</p>
                            <p class="price"><span class="regular">$6.31</span></p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <!-- Products -->
                <div class="col-md-3 col-sm-4 no-padding">
                    <a href="http://www.petseurope.eu/en/dogs/1290/beds/beds-cushions/natuna-cushion-outdooor-red" title="" class="thumbnail product">
                        <div class="labels-wrapper"></div>
                        <div class="img-container">
                            <img class="img-responsive" src="http://www.petseurope.eu/Cached/427/resize/323x704/M-PETS_NATUNA_OUTDOOR_red.png">
                        </div>
                        <div class="caption">
                            <p class="name">Natuna cushion outdooor - red</p>
                            <p class="price"><span class="regular">$6.31</span></p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div><a href="http://www.petseurope.eu/en/novelties" class="btn btn-default">More new products</a></div>
    </div>
    </div>
</body>

</html>