<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <link rel="stylesheet" href="../../../css/chongyin/section.1.css">
</head>

<body>
    <div class="container clearfix bg-white">
        <div class="section xn-section">
            <div class="row clearfix">
                <div class="col-sm-4 col-md-4"><a href="http://issuu.com/petseurope/docs/trade_catalogue_mpets_range_01_2016_4744c342921e8f/1" class="widget" style="background-image: url(http://www.petseurope.eu/Cached/141/piece/300x680/M-PETS_Trade_Catalogue_.jpg)" target="_blank"><span></span></a></div>
                <div class="col-sm-4 col-md-4"><a href="https://issuu.com/petseurope/docs/60000003_catalogue_petseurope_petph/1?e=25311869/36911907" class="widget" style="background-image: url(http://www.petseurope.eu/Cached/142/piece/300x680/Petphabet_Trade_Catalogue_.jpg)" target="_blank"><span></span></a></div>
                <div class="col-sm-4 col-md-4"><a href="" class="widget" style="background-image: url(http://www.petseurope.eu/Cached/47/piece/300x680/PetsEurope_HomePage_image_Facebook.png)"><span>M-PETS Facebook</span></a></div>
            </div>
        </div>
    </div>
</body>

</html>