@font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1473176865'); /* IE9*/
    src: url('iconfont.eot?t=1473176865#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1473176865') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1473176865') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1473176865#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:20px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}





.icon-xntalk-biaoqing:before { color: #9ea1aa;content: "\e603"; }
.icon-xntalk-bianji:before {color: #9ea1aa; content: "\e602"; }
.icon-xntalk-fujian:before { color: #9ea1aa;content: "\e604"; }
.icon-xntalk-reject:before {color: #9ea1aa; content: "\e601"; }
.icon-xntalk-shangchuan:before { color: #9ea1aa;content: "\e605"; }
.icon-xntalk-jieping:before { color: #9ea1aa;content: "\e606"; }
.icon-xntalk-zuixiaohua:before { color: #9ea1aa;content: "\e600"; }
.icon-xntalk-close:before {  color:#101010;content: "\e607"; }
.icon-xntalk-gou:before { content: "\e608"; }

.icon-xntalk-close2:before {content: "\e607"; }


.icon-xntalk-arrow-down:before { content: "\e60a"; }
.icon-xntalk-wenjianjia:before { content: "\e609"; }

.icon-xntalk-file:before { content: "\e60b"; }
.icon-xntalk-arrow_right:before { content: "\e60c"; }

.icon-xntalk-arrow_down2 { content: "\e60d"; font-size: 12px; }
.icon-xntalk-arrow_down2:before { content: "\e60d"; }

.icon-xntalk-zuidahua:before { content: "\e60f"; }