<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <link rel="stylesheet" href="../../../css/chongyin/list.css">
</head>

<body>
    <div class="container">
        <div id="product-detail" class="section">
            <div class="row">
                <div class="col-md-5">
                    <div class="slider" id="image-slider">
                        <a href="http://www.petseurope.eu/Cached/55/canvas/325x430/10200099_JAVA-DOG-BEDS-S-M-L-XL-XXL_Brown_680x680.jpg" class="slide">
                            <img class="img-responsive" src="http://www.petseurope.eu/Cached/55/canvas/420x658/10200099_JAVA-DOG-BEDS-S-M-L-XL-XXL_Brown_680x680.jpg">
                        </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <form action="http://www.petseurope.eu/en/ajax/webshop_detail.php" method="post" data-ajax="http://www.petseurope.eu/en/ajax/webshop_detail.php" data-method="post" data-action="add" data-extratemplates="tpl_cart_summary tpl_webshop_detail_order_feedback">
                            <div>
                                <div class="row">
                                    <div class="col-md-4 col-md-push-8">
                                        <div class="text-right">
                                            <a href="http://www.petseurope.eu/en/brands/111/m-pets" title="M-PETS">

                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/36/resize/78x400/M-PETSRGB75-81-89LOGO_vector.png">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-md-pull-4">
                                        <!-- Breadcrumbs -->
                                        <!-- Breadcrumbs -->
                                        <div id="breadcrumbs" data-template="tpl_breadcrumbs">
                                            <ol class="breadcrumb">
                                                <li><a href="http://www.petseurope.eu/en/home">Home</a></li>
                                                <li><a href="http://www.petseurope.eu/en/dogs/118/beds">Beds</a></li>
                                                <li class="active"><a href="http://www.petseurope.eu/en/dogs/1220/beds/beds-cushions">Beds & Cushions</a></li>
                                            </ol>
                                        </div>
                                        <h1>JAVA Dog Bed - Brown</h1>
                                        <div class="info">
                                            <p>Brand: <a href="http://www.petseurope.eu/en/brands/111/m-pets" class="brand">M-PETS</a></p>
                                            <p>Color:</p>
                                            <ul class="colors" data-name="VariantType">
                                                <li><a href="http://www.petseurope.eu/en/dogs/1215/beds/beds-cushions/java-dog-bed-grey" style="background-color: #888688" title="JAVA Dog Bed - Grey">JAVA Dog Bed - Grey</a></li>
                                                <li class="active"><a href="http://www.petseurope.eu/en/dogs/1210/beds/beds-cushions/java-dog-bed-brown" style="background-color: #964b15" title="JAVA Dog Bed - Brown">JAVA Dog Bed - Brown</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div data-template="tpl_webshop_detail_order_feedback" data-effect="replaceWith"></div>
                            </div>
                            <div>
                                <table id="size-table" border="0">
                                    <thead>
                                        <tr>
                                            <th>Size</th>
                                            <th>Product dimensions (cm)</th>
                                            <th>EAN-Code</th>
                                            <th>Item Number</th>
                                            <th>Amount</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-unit="Container">
                                            <td>
                                                <div class="checkbox"><input type="checkbox" data-key="135" name="WebshopProductVariantDetailID[]" id="Detail135" value="135" checked data-ajax="http://www.petseurope.eu/en/ajax/webshop_detail.php" data-action="detail" data-method="post"
                                                        data-webshopproductvariantid="10" data-webshopproductvariantdetailid="135" data-extratemplates="tpl_webshop_overview_list_detail tpl_webshop_detail_price" data-size="S"><label for="Detail135">S</label></div>
                                            </td>
                                            <td>49.0 x 36.0 x 18.0</td>
                                            <td>541534100435</td>
                                            <td>10200099</td>
                                            <td align="center">10</td>
                                            <td><strong>$2.21</strong></td>
                                        </tr>
                                        <tr data-unit="Container">
                                            <td>
                                                <div class="checkbox"><input type="checkbox" data-key="136" name="WebshopProductVariantDetailID[]" id="Detail136" value="136" data-ajax="http://www.petseurope.eu/en/ajax/webshop_detail.php" data-action="detail" data-method="post"
                                                        data-webshopproductvariantid="10" data-webshopproductvariantdetailid="136" data-extratemplates="tpl_webshop_overview_list_detail tpl_webshop_detail_price" data-size="M"><label for="Detail136">M</label></div>
                                            </td>
                                            <td>61.0 x 41.0 x 23.0</td>
                                            <td>5415341001442</td>
                                            <td>10200199</td>
                                            <td align="center">10</td>
                                            <td><strong>$3.29</strong></td>
                                        </tr>
                                        <tr data-unit="Container">
                                            <td>
                                                <div class="checkbox"><input type="checkbox" data-key="137" name="WebshopProductVariantDetailID[]" id="Detail137" value="137" data-ajax="http://www.petseurope.eu/en/ajax/webshop_detail.php" data-action="detail" data-method="post"
                                                        data-webshopproductvariantid="10" data-webshopproductvariantdetailid="137" data-extratemplates="tpl_webshop_overview_list_detail tpl_webshop_detail_price" data-size="L"><label for="Detail137">L</label></div>
                                            </td>
                                            <td>80.0 x 57.0 x 25.0</td>
                                            <td>5415341001459</td>
                                            <td>10200299</td>
                                            <td align="center">6</td>
                                            <td><strong>$5.15</strong></td>
                                        </tr>
                                        <tr data-unit="Container">
                                            <td>
                                                <div class="checkbox"><input type="checkbox" data-key="138" name="WebshopProductVariantDetailID[]" id="Detail138" value="138" data-ajax="http://www.petseurope.eu/en/ajax/webshop_detail.php" data-action="detail" data-method="post"
                                                        data-webshopproductvariantid="10" data-webshopproductvariantdetailid="138" data-extratemplates="tpl_webshop_overview_list_detail tpl_webshop_detail_price" data-size="XL"><label for="Detail138">XL</label></div>
                                            </td>
                                            <td>100.0 x 72.0 x 30.0</td>
                                            <td>5415341001466</td>
                                            <td>10200399</td>
                                            <td align="center">6</td>
                                            <td><strong>$8.00</strong></td>
                                        </tr>
                                        <tr data-unit="Container">
                                            <td>
                                                <div class="checkbox"><input type="checkbox" data-key="139" name="WebshopProductVariantDetailID[]" id="Detail139" value="139" data-ajax="http://www.petseurope.eu/en/ajax/webshop_detail.php" data-action="detail" data-method="post"
                                                        data-webshopproductvariantid="10" data-webshopproductvariantdetailid="139" data-extratemplates="tpl_webshop_overview_list_detail tpl_webshop_detail_price" data-size="XXL"><label for="Detail139">XXL</label></div>
                                            </td>
                                            <td>120.0 x 83.0 x 36.0</td>
                                            <td>5415341001480</td>
                                            <td>10200499</td>
                                            <td align="center">4</td>
                                            <td><strong>$12.00</strong></td>
                                        </tr>
                                        <tr data-unit="Box" style="display:none">
                                            <td>
                                                <div class="radio"><input type="radio" name="WebshopProductVariantDetailID[]" id="Detail140" value="140" data-ajax="http://www.petseurope.eu/en/ajax/webshop_detail.php" data-action="detail" data-method="post" data-webshopproductvariantid="10"
                                                        data-webshopproductvariantdetailid="140" data-extratemplates="tpl_webshop_overview_list_detail tpl_webshop_detail_price"><label for="Detail140">S</label></div>
                                            </td>
                                            <td>49.0 x 36.0 x 18.0</td>
                                            <td>541534100435</td>
                                            <td>10200099</td>
                                            <td align="center">10</td>
                                            <td><strong>$2.63</strong></td>
                                        </tr>
                                        <tr data-unit="Box" style="display:none">
                                            <td>
                                                <div class="radio"><input type="radio" name="WebshopProductVariantDetailID[]" id="Detail141" value="141" data-ajax="http://www.petseurope.eu/en/ajax/webshop_detail.php" data-action="detail" data-method="post" data-webshopproductvariantid="10"
                                                        data-webshopproductvariantdetailid="141" data-extratemplates="tpl_webshop_overview_list_detail tpl_webshop_detail_price"><label for="Detail141">M</label></div>
                                            </td>
                                            <td>61.0 x 41.0 x 23.0</td>
                                            <td>541534100435</td>
                                            <td>10200199</td>
                                            <td align="center">10</td>
                                            <td><strong>$3.91</strong></td>
                                        </tr>
                                        <tr data-unit="Box" style="display:none">
                                            <td>
                                                <div class="radio"><input type="radio" name="WebshopProductVariantDetailID[]" id="Detail142" value="142" data-ajax="http://www.petseurope.eu/en/ajax/webshop_detail.php" data-action="detail" data-method="post" data-webshopproductvariantid="10"
                                                        data-webshopproductvariantdetailid="142" data-extratemplates="tpl_webshop_overview_list_detail tpl_webshop_detail_price"><label for="Detail142">L</label></div>
                                            </td>
                                            <td>80.0 x 57.0 x 25.0</td>
                                            <td>5415341001459</td>
                                            <td>10200299</td>
                                            <td align="center">6</td>
                                            <td><strong>$6.11</strong></td>
                                        </tr>
                                        <tr data-unit="Box" style="display:none">
                                            <td>
                                                <div class="radio"><input type="radio" name="WebshopProductVariantDetailID[]" id="Detail143" value="143" data-ajax="http://www.petseurope.eu/en/ajax/webshop_detail.php" data-action="detail" data-method="post" data-webshopproductvariantid="10"
                                                        data-webshopproductvariantdetailid="143" data-extratemplates="tpl_webshop_overview_list_detail tpl_webshop_detail_price"><label for="Detail143">XL</label></div>
                                            </td>
                                            <td>100.0 x 72.0 x 30.0</td>
                                            <td>5415341001466</td>
                                            <td>10200399</td>
                                            <td align="center">6</td>
                                            <td><strong>$9.50</strong></td>
                                        </tr>
                                        <tr data-unit="Box" style="display:none">
                                            <td>
                                                <div class="radio"><input type="radio" name="WebshopProductVariantDetailID[]" id="Detail144" value="144" data-ajax="http://www.petseurope.eu/en/ajax/webshop_detail.php" data-action="detail" data-method="post" data-webshopproductvariantid="10"
                                                        data-webshopproductvariantdetailid="144" data-extratemplates="tpl_webshop_overview_list_detail tpl_webshop_detail_price"><label for="Detail144">XXL</label></div>
                                            </td>
                                            <td>120.0 x 83.0 x 36.0</td>
                                            <td>5415341001480</td>
                                            <td>10200499</td>
                                            <td align="center">4</td>
                                            <td><strong>$14.25</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="container-wrapper col-md-12 none">
                                    <p class="h4">Combined container:</p>
                                    <table id="container-bar" width="100%" cellspacing="0" cellpadding="0" border="0" class="JColResizer">
                                        <tbody>
                                            <tr></tr>
                                        </tbody>
                                    </table>
                                    <fieldset class="form-horizontal">
                                        <div class="row" id="selected-container-sizes"></div>
                                    </fieldset>
                                </div>
                                <div class="add">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-6 col-md-push-6">
                                                <div class="text-right"><label for="Unit">Unit: </label>
                                                    <div class="custom-select form-control"><select name="Unit" id="Unit" class="unit-changer"><option value="Container">Container</option><option value="Box">Master carton</option></select></div>
                                                </div>
                                                <div class="text-right"><label for="Amount">Quantity: </label><input type="number" class="form-control" name="Amount" id="Amount" value="1" step="1"></div>
                                                <div class="text-right"><input type="hidden" name="WebshopProductVariantID" value="10"><input type="submit" onclick="addToCart();" class="btn btn-primary" value="Add to Cart"></div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Begin product description -->
                    <div class="cms-text">
                        <h3>Description</h3>
                        <div class="cms-text">
                            <div class="cms_inline_photo"><img src="http://www.petseurope.eu/Cached/114/resize/400x200/10100005_Rose-WASTE-BAGS-4x15_680x680.jpg" class="cms-image"></div>
                            <p style="display: inline !important;"><strong>Product dimensions:</strong></p>
                            <ul>
                                <li>JAVA Dog Bed S - 49 x 36 x 18 cm</li>
                                <li>JAVA Dog Bed M - 61 x 41 x 23 cm</li>
                                <li>JAVA Dog Bed L - 80 x 57 x 25 cm</li>
                                <li><strong></strong>JAVA Dog Bed XL - 100 x 72 x 30 cm</li>
                                <li>JAVA Dog Bed XXL - 120 x 83 x 36 cm&nbsp;</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End product description -->
                </div>
            </div>
        </div>
    </div>
    <script src='http://file.40017.cn/dujia/cn/v/dujia/modules/jquery_1e357de.js'></script>
    <script src='/lib/colResizable-1.6.min.js'></script>
    <script src='/js/page/detail.js'></script>
</body>

</html>