    body {
        font-family: "proxima-nova", Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 1.428571429;
        color: #857977;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .container {
        background-color: white;
        padding: 0;
        margin: 0 auto;
        width: 1170px;
    }
    
    .clearfix:before,
    .clearfix:after {
        content: '';
        display: table;
    }
    
    .clearfix:after {
        clear: both;
    }
    
    .pull-left {
        float: left !important;
    }
    
    .pull-right {
        float: right !important;
    }
    
    a {
        text-decoration: none;
    }
    
    img {
        vertical-align: middle;
    }
    
    img {
        border: 0;
    }
    
    h1,
    .h1 {
        font-size: 30px;
        margin-top: 18px;
        margin-bottom: 9px;
    }
    
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        margin-top: 18px;
        margin-bottom: 9px;
    }
    
    .cart-pager {
        margin-bottom: 10px;
        padding-left: 0px;
        height: 40px;
        clear: both;
        margin-top: 0;
        position: relative;
    }
    
    .cart-pager::before {
        position: absolute;
        display: block;
        content: '';
    }
    
    .cart-pager:after {
        content: '';
        width: 1px;
        clear: both;
    }
    
    .cart-pager li {
        list-style-type: none;
    }
    
    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 800;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 13px;
        line-height: 1.428571429;
        border-radius: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
    }
    
    .btn {
        transition: none !important;
    }
    
    .btn {
        font-size: 15px;
        text-shadow: 0px 2px 2px rgba(150, 150, 150, 0.5);
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 5px 5px 0px rgba(133, 121, 119, 0.25), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.8);
        letter-spacing: 0.065em;
        transition: all 0.5s cubic-bezier(0.455, 0, 0.515, 1);
        border-radius: 12px;
        text-transform: uppercase;
        font-weight: 800;
        height: 37px;
        color: white;
    }
    
    .btn.btn-default {
        box-shadow: 0px 1px 1px 0px #188b8f, 0px 7px 7px 0px rgba(133, 121, 119, 0.15), inset 0px 1px 1px 0px rgba(255, 255, 255, 0);
        background: #1fb6bb;
        padding-top: 7px;
        border-color: transparent;
    }
    
    .section {
        margin-top: 50px;
    }
    
    .table-responsive {
        overflow-x: auto;
        min-height: 0.01%;
    }
    
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 18px;
        background-color: #fff;
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    .green {
        color: #1fb6bb;
    }
    
    .text-uppercase,
    .initialism,
    .small-uppercase {
        text-transform: uppercase;
    }
    
    .table>caption+thead>tr:first-child>th,
    .table>caption+thead>tr:first-child>td,
    .table>colgroup+thead>tr:first-child>th,
    .table>colgroup+thead>tr:first-child>td,
    .table>thead:first-child>tr:first-child>th,
    .table>thead:first-child>tr:first-child>td {
        border-top: 0;
    }
    
    .table>thead>tr>th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }
    
    .table>thead>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>th,
    .table>tbody>tr>td,
    .table>tfoot>tr>th,
    .table>tfoot>tr>td {
        padding: 8px;
        line-height: 1.428571429;
        vertical-align: top;
        /*border-top: 1px solid #ddd;*/
    }
    
    th {
        text-align: left;
    }
    
    .border-bottom {
        border-bottom: 1px solid #ddd;
    }
    
    .text-center,
    .no-result {
        text-align: center;
    }
    
    .table>tbody>tr.bg-green {
        background-color: #f9f9f9;
    }
    
    #cart-overview .cart-table tr td {
        vertical-align: middle;
    }
    
    #cart-overview .cart-table tr td.td-thumb {
        min-width: 40px;
    }
    
    .table>thead>tr>th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }
    
    a {
        color: #1fb6bb;
        text-decoration: none;
        background-color: transparent;
    }
    
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    #cart-overview .btn-cart-remove {
        width: 40px;
        font-size: 13px;
        box-shadow: none;
        text-shadow: none;
        color: #1fb6bb;
        padding: 0px;
        letter-spacing: 0px;
        text-transform: uppercase;
        font-weight: 800;
        height: 37px;
        background: url('/imgs/delete.png') no-repeat 50% transparent;
    }
    
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    
    .col-md-6 {
        width: 50%;
    }
    
    .col-md-12 {
        width: 100%;
    }
    
    #additional h2 {
        margin-top: 0px !important;
    }
    
    h2,
    .h2 {
        font-size: 26px;
    }
    
    .table-bordered {
        border: 1px solid #ddd;
    }
    
    .table-bordered>thead>tr>th,
    .table-bordered>thead>tr>td,
    .table-bordered>tbody>tr>th,
    .table-bordered>tbody>tr>td,
    .table-bordered>tfoot>tr>th,
    .table-bordered>tfoot>tr>td {
        border: 1px solid #ddd;
    }
    
    #cart-overview .cart-table tr td.edit span {
        display: inline-block;
        line-height: 28px;
        vertical-align: middle;
        padding: 0 3px;
    }
    
    #cart-overview .cart-table tr td.edit span[contenteditable=true] {
        outline: -webkit-focus-ring-color auto 5px;
    }
    
    #cart-overview .cart-table tr td.edit em {
        content: '';
        width: 20px;
        height: 20px;
        background: url('/imgs/chongyin/edit.png') no-repeat;
        display: inline-block;
        background-size: contain;
        vertical-align: middle;
        cursor: pointer;
    }
    
    .text-right {
        text-align: right;
    }
    
    [class*=col-md-] {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .none {
        display: none !important;
    }
    /*********************数量加减*************************/
    
    .gw_num {
        border: 1px solid #dbdbdb;
        width: 110px;
        line-height: 26px;
        overflow: hidden;
    }
    
    .gw_num em {
        display: block;
        height: 26px;
        width: 26px;
        float: left;
        color: #7A7979;
        border-right: 1px solid #dbdbdb;
        text-align: center;
        cursor: pointer;
        background: #fff;
        line-height: 28px;
    }
    
    .gw_num .num {
        display: block;
        float: left;
        text-align: center;
        width: 52px;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
        border: 0;
    }
    
    .gw_num em.add {
        float: right;
        border-right: 0;
        border-left: 1px solid #dbdbdb;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }
    
    input[type="number"] {
        -moz-appearance: textfield;
    }
    
    input:focus {
        outline: 0;
    }
    /*********************数量加减*************************/