<!DOCTYPE html>
<html>

<head>
    <title>findproduct</title>
    <link rel="stylesheet" href="../../../css/chongyin/findproduct.css">
</head>

<body>
    <div class="container">
        <div class="xn-findproduct ">
            <aside id="sidebar">
                <div class="sidebar-block">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingCategory">
                            <p class="panel-title">
                                <a href="#collapseCategory">Find your products</a>
                                <a href="" class="J_clear clear">Clear all</a>
                            </p>
                        </div>
                        <div id="collapseCategory" class="panel-collapse collapse in">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <p class="title">Category</p>
                                </li>
                                <li class="list-group-item">
                                    <ul class="autofilter" data-name="Category">
                                        <li>
                                            <a href="http://www.petseurope.eu/en/dogs/1226/care-hygiene/category=waste bags">Waste Bags</a>
                                        </li>
                                        <li>
                                            <a href="http://www.petseurope.eu/en/dogs/1226/care-hygiene/category=training pads">Training Pads</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <p class="title">Brands</p>
                                </li>
                                <li class="list-group-item">
                                    <ul class="autofilter" data-name="Brand">
                                        <li><a href="http://www.petseurope.eu/en/brands/111/m-pets">M-PETS</a></li>
                                        <li><a href="http://www.petseurope.eu/en/brands/114/petphabet">petphabet</a></li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <p class="title">Price</p>
                                </li>
                                <li class="list-group-item" id="price">
                                    <input type="hidden" name="MinimumPrice" placeholder="Min." id="MinimumPrice" class="autofilter" title="Minimumprijs $0.00" value="0" data-default="0">
                                    <input type="hidden" name="MaximumPrice" placeholder="Max." id="MaximumPrice" class="autofilter" title="Maximumprijs $10.00" value="10" data-default="10">
                                    <div id="price-range" data-minimum="0" data-maximum="10"></div>
                                </li>
                                <li class="list-group-item">
                                    <p class="title">Color</p>
                                </li>
                                <li class="list-group-item">
                                    <ul class="colors autofilter" data-name="VariantType">
                                        <li id="VariantType2" title="Blue" data-id="2"><a href="#" style="background-color: #0247d1" title="Blue">Blue</a></li>
                                        <li id="VariantType5" title="Pink" data-id="5"><a href="#" style="background-color: #f082f0" title="Pink">Pink</a></li>
                                        <li id="VariantType9" title="Grey" data-id="9"><a href="#" style="background-color: #888688" title="Grey">Grey</a></li>
                                        <li id="VariantType15" title="Purple" data-id="15"><a href="#" style="background-color: #640e8f" title="Purple">Purple</a></li>
                                        <li id="VariantType16" title="Yellow" data-id="16"><a href="#" style="background-color: #ffff00" title="Yellow">Yellow</a></li>
                                        <li id="VariantType18" title="Black" data-id="18"><a href="#" style="background-color: #000000" title="Black">Black</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <form name="FilterForm" method="post" action="#" data-ajax="http://www.petseurope.eu/en/ajax/webshop_overview.php" data-action="filter" data-extratemplates="tpl_urlchanger tpl_webshop_overview_products tpl_pagination"><input type="hidden" name="GenderID" class="default" value="1"><input type="hidden" name="WebshopProductMainCategoryID" class="default" value="26"></form>
            </aside>
        </div>

    </div>

    <script src='http://file.40017.cn/dujia/cn/v/dujia/modules/jquery_1e357de.js'></script>
    <script src="http://www.petseurope.eu/js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="http://www.petseurope.eu/js/vendor/jquery/jquery-ui.min.js"></script>

    <script>
        var Vendor = function() {

            /*
             * Create a carousel using Slick
             * @param selector - Selector to load Slick
             * @param options - Object with slick options - http://kenwheeler.github.io/slick/
             * Slick docs: https://github.com/kenwheeler/slick/
             */
            this.carousel = function(selector, options) {

                // Fade carousel in on init
                $(selector).on('init', function(event, slick, currentSlide, nextSlide) {
                    $(this).fadeTo(500, 1);
                });

                // Create slider and apply options
                var carousel = new $(selector).slick(options);
                return carousel;
            };

            /*
             * Create a lightbox using baguetteBox
             * @param selector - Selector to load baguetteBox
             * @param options - Object with lightbox options - https://github.com/feimosi/baguetteBox.js#usage
             * BaguetteBox docs: https://github.com/feimosi/baguetteBox.js
             */
            this.lightbox = function(selector, options) {
                baguetteBox.run(selector, options);
            };

            /*
             * Create a masonry type grid
             * @param masonryID - Selector ID to load Masonry (in Bootstrap environment this will be usually a .row with a custom ID)
             * @param options - Object with masonry options - http://masonry.desandro.com/options.html
             * Masonry docs: http://masonry.desandro.com/
             */
            this.masonry = function(masonryID, options) {

                // Define Masonry container
                var container = document.querySelector(masonryID);

                // Initialize Masonry after all images have loaded
                imagesLoaded(container, function() {
                    var msnry = new Masonry(container, options);
                });
            };

            /*
             * Create a jquery ui range slider
             * @param selector - Selector to turn into a range slider
             * @param options - Object with slider options - https://jqueryui.com/slider/
             * jQuery UI docs: http://api.jqueryui.com/
             */
            this.rangeSlider = function(selector, options) {
                $(String(selector)).slider(options);
            };
        };

        var vendor = new Vendor();
        var priceRangeSlider = function() {
            var selector = $('#price-range');
            vendor.rangeSlider('#price-range', {
                range: true,
                min: parseInt(selector.data('minimum')),
                max: parseInt(selector.data('maximum')),
                //step : Math.ceil((parseInt(selector.data('maximum')) - parseInt(selector.data('minimum'))) / 10),
                values: [selector.parent().find('input[name="MinimumPrice"]').val(), selector.parent().find('input[name="MaximumPrice"]').val()],
                create: function(event, ui) {
                    $('#price-min-value').text("€ " + selector.parent().find('input[name="MinimumPrice"]').val());
                    $('#price-max-value').text("€ " + selector.parent().find('input[name="MaximumPrice"]').val());
                },
                slide: function(event, ui) {
                    repositionTooltip(event, ui);

                    // Update hidden filters
                    selector.parent().find('input[name="MinimumPrice"]').val(Math.floor(parseFloat(ui.values[0])));
                    selector.parent().find('input[name="MaximumPrice"]').val(Math.ceil(parseFloat(ui.values[1])));
                },
                stop: function(event, ui) {
                    repositionTooltip(event, ui);
                    console.log(123);
                    $('input[name="MinimumPrice"]').trigger('change');
                }
            });


            $("#price-range .ui-slider-handle:first").attr('data-original-title', selector.parent().find('input[name="MinimumPrice"]').val()).tooltip({
                trigger: "manual"
            }).tooltip("show");
            $("#price-range .ui-slider-handle:last").attr('data-original-title', selector.parent().find('input[name="MaximumPrice"]').val()).tooltip({
                trigger: "manual"
            }).tooltip("show");


            function repositionTooltip(event, ui) {
                selector.parent().find('input[name="MinimumPrice"]').val(Math.floor(parseFloat(ui.values[0])));
                selector.parent().find('input[name="MaximumPrice"]').val(Math.ceil(parseFloat(ui.values[1])));

                //Check which slider is moved
                if (ui.values[0] == ui.value) {
                    //Min slider
                    //$("#price-range .ui-slider-handle:first").attr('data-original-title', parseFloat(ui.values[0])).tooltip( {trigger: "manual"}).tooltip("show");
                    $("#price-range .ui-slider-handle:first").attr('data-original-title', parseFloat(ui.values[0]));
                } else if (ui.values[1] == ui.value) {
                    //Max slider
                    //$("#price-range .ui-slider-handle:last").attr('data-original-title', parseFloat(ui.values[1])).tooltip( {trigger: "manual"}).tooltip("show");
                    $("#price-range .ui-slider-handle:last").attr('data-original-title', parseFloat(ui.values[1]));
                }

                // If you're on Bootstrap 3.x change "tooltip" to "bs.tooltip"
                // Props to @fd_tl in the comments for the tip!
                var div = $(ui.handle).data("bs.tooltip").$tip[0];
                var pos = $.extend({}, $(ui.handle).offset(), {
                    width: $(ui.handle).get(0).offsetWidth,
                    height: $(ui.handle).get(0).offsetHeight
                });

                var actualWidth = div.offsetWidth;

                tp = {
                    left: pos.left + pos.width / 2 - actualWidth / 2
                };
                $(div).offset(tp);

                $(div).find(".tooltip-inner").text(ui.value);
            }

        };

        priceRangeSlider();
    </script>
</body>

</html>