<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <link rel="stylesheet" href="../../../css/chongyin/list.css">
</head>

<body>
    <div class="container ">
        <div class="row">
            <!-- START SIDEBAR -->
            <div class="col-md-3">

            </div>
            <!--END SIDEBAR -->
            <div class="col-md-9">
                <!-- Breadcrumbs -->
                <!-- Breadcrumbs -->
                <div id="breadcrumbs" data-template="tpl_breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a href="http://www.petseurope.eu/en/home">Home</a></li>
                        <li><a href="dogs">Dogs</a></li>
                        <li class="active"><a href="http://www.petseurope.eu/en/dogs/1226/care-hygiene">Care & Hygiene</a></li>
                    </ol>
                </div>
                <div id="products">
                    <div data-template="tpl_webshop_overview_sorting" data-effect="replaceWith">
                        <div id="sort-options" class="clearfix">
                            <div class="filter">View:
                                <div class="switch switch-view"><input type="radio" class="switch-input autofilter" name="View" value="grid" id="GridView" checked>
                                    <label for="GridView" class="switch-label switch-label-off">
                                    <img src="" alt="">
                                    Grid View
                                    </label>
                                    <input type="radio" class="switch-input autofilter" name="View" value="list" id="ListView"><label for="ListView" class="switch-label switch-label-on">
                                        <img src="" alt="">
                                        List View
                                        </label>
                                    <span class="switch-selection"></span>
                                </div>
                                <div class="dropdown">Sort by<button class="btn dropdown-toggle" type="button" id="sorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><a href="">Sort by</a><span class="caret"></span></button>
                                    <ul class="dropdown-menu" aria-labelledby="sorting">
                                        <li data-id="new" id="SortNew" data-name="Sorting" data-value="new" class="autofilter"><a href="">Latest</a></li>
                                        <li data-id="price-asc" id="SortPriceAsc" data-name="Sorting" data-value="price-asc" class="autofilter"><a href="">Price ascending</a></li>
                                        <li data-id="price-desc" id="SortPriceDesc" data-name="Sorting" data-value="price-desc" class="autofilter"><a href="">Price descending</a></li>
                                        <li data-id="popularity" id="SortPopularity" data-name="Sorting" data-value="popularity" class="autofilter"><a href="">Popularity</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" id="number" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><a href="">24</a><span class="caret"></span></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li data-id="24" id="Limit24" data-name="Limit" data-value="24" class="autofilter default"><a href="">24</a></li>
                                        <li data-id="48" id="Limit48" data-name="Limit" data-value="48" class="autofilter"><a href="">48</a></li>
                                        <li data-id="72" id="Limit72" data-name="Limit" data-value="72" class="autofilter"><a href="">72</a></li>
                                        <li data-id="all" id="Limitall" data-name="Limit" data-value="all" class="autofilter"><a href="">all</a></li>
                                    </ul>Products per page</div><span class="text-right info">Showing 24 of 27 products</span></div>
                        </div>
                    </div>
                    <div data-template="tpl_webshop_overview_products" data-effect="replaceWith">
                        <div data-template="tpl_webshop_overview_products_grid" data-effect="replaceWith">
                            <div class="row" id="products">
                                <div id="grid" class="products-wrapper">
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1246/care-hygiene/waste-bags/dog-waste-bag-green-grass-scented-300-pcs" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1246/care-hygiene/waste-bags/dog-waste-bag-green-grass-scented-300-pcs); return !ga.loaded;"
                                            title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Dog Waste Bag - Green Grass Scented 300 pcs</p>
                                                <p class="price"><span class="regular">$2.27</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1247/care-hygiene/waste-bags/dog-waste-bag-with-handles-green-grass-scented-120-pcs" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1247/care-hygiene/waste-bags/dog-waste-bag-with-handles-green-grass-scented-120-pcs); return !ga.loaded;"
                                            title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Dog Waste Bag with Handles- Green Grass Scented 120 pcs</p>
                                                <p class="price"><span class="regular">$1.04</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1251/care-hygiene/waste-bags/dog-waste-bag-dispenser-black" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1251/care-hygiene/waste-bags/dog-waste-bag-dispenser-black); return !ga.loaded;" title=""
                                            class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Dog Waste Bag Dispenser - black</p>
                                                <p class="price"><span class="regular">$0.65</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1252/care-hygiene/waste-bags/dog-waste-bag-dispenser-multicolor" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1252/care-hygiene/waste-bags/dog-waste-bag-dispenser-multicolor); return !ga.loaded;"
                                            title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Dog Waste Bag Dispenser - multicolor</p>
                                                <p class="price"><span class="regular">$0.65</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1260/care-hygiene/waste-bags/dog-waste-bags-blacks-4-rolls" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1260/care-hygiene/waste-bags/dog-waste-bags-blacks-4-rolls); return !ga.loaded;" title=""
                                            class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Dog Waste Bags - blacks - 4 Rolls</p>
                                                <p class="price"><span class="regular">$0.55</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1255/care-hygiene/waste-bags/dog-waste-bags-lavender-4-rolls" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1255/care-hygiene/waste-bags/dog-waste-bags-lavender-4-rolls); return !ga.loaded;" title=""
                                            class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Dog Waste Bags Lavender - 4 Rolls</p>
                                                <p class="price"><span class="regular">$0.57</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1253/care-hygiene/waste-bags/dog-waste-bags-lemon-4-rolls" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1253/care-hygiene/waste-bags/dog-waste-bags-lemon-4-rolls); return !ga.loaded;" title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Dog Waste Bags Lemon - 4 Rolls</p>
                                                <p class="price"><span class="regular">$0.57</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1254/care-hygiene/waste-bags/dog-waste-bags-rose-4-rolls" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1254/care-hygiene/waste-bags/dog-waste-bags-rose-4-rolls); return !ga.loaded;" title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Dog Waste Bags Rose - 4 Rolls</p>
                                                <p class="price"><span class="regular">$0.57</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1261/care-hygiene/waste-bags/dog-waste-bags-black-8-rolls" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1261/care-hygiene/waste-bags/dog-waste-bags-black-8-rolls); return !ga.loaded;" title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Dog Waste Bags - black - 8 Rolls</p>
                                                <p class="price"><span class="regular">$0.98</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1259/care-hygiene/waste-bags/dog-waste-bags-lavender-8-rolls" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1259/care-hygiene/waste-bags/dog-waste-bags-lavender-8-rolls); return !ga.loaded;" title=""
                                            class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Dog Waste Bags Lavender - 8 Rolls</p>
                                                <p class="price"><span class="regular">$1.01</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1257/care-hygiene/waste-bags/dog-waste-bags-lemon-8-rolls" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1257/care-hygiene/waste-bags/dog-waste-bags-lemon-8-rolls); return !ga.loaded;" title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Dog Waste Bags Lemon - 8 Rolls</p>
                                                <p class="price"><span class="regular">$1.01</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1258/care-hygiene/waste-bags/dog-waste-bags-rose-8-rolls" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1258/care-hygiene/waste-bags/dog-waste-bags-rose-8-rolls); return !ga.loaded;" title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Dog Waste Bags Rose - 8 Rolls</p>
                                                <p class="price"><span class="regular">$1.01</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1262/care-hygiene/waste-bags/dog-waste-bag-sausage-6-rolls" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1262/care-hygiene/waste-bags/dog-waste-bag-sausage-6-rolls); return !ga.loaded;" title=""
                                            class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Dog Waste Bag Sausage - 6 rolls </p>
                                                <p class="price"><span class="regular">$0.93</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1263/care-hygiene/waste-bags/biodegradable-waste-bags" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1263/care-hygiene/waste-bags/biodegradable-waste-bags); return !ga.loaded;" title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Biodegradable Waste Bags</p>
                                                <p class="price"><span class="regular">$1.52</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1266/care-hygiene/waste-bags/lavender-scented-waste-bag-10-rolls" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1266/care-hygiene/waste-bags/lavender-scented-waste-bag-10-rolls); return !ga.loaded;"
                                            title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Lavender scented waste bag 10 rolls</p>
                                                <p class="price"><span class="regular">$1.26</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1267/care-hygiene/waste-bags/unscented-waste-bag-10-rolls" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1267/care-hygiene/waste-bags/unscented-waste-bag-10-rolls); return !ga.loaded;" title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Unscented waste bag 10 rolls</p>
                                                <p class="price"><span class="regular">$1.19</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1268/care-hygiene/waste-bags/lavender-scented-waste-bag-20-rolls" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1268/care-hygiene/waste-bags/lavender-scented-waste-bag-20-rolls); return !ga.loaded;"
                                            title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Lavender scented waste bag 20 rolls </p>
                                                <p class="price"><span class="regular">$2.54</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1269/care-hygiene/waste-bags/unscented-waste-bag-20-rolls" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1269/care-hygiene/waste-bags/unscented-waste-bag-20-rolls); return !ga.loaded;" title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png">
                                            </div>
                                            <div class="caption">
                                                <p class="name">Unscented waste bag 20 rolls</p>
                                                <p class="price"><span class="regular">$2.50</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1298/care-hygiene/training-pads/puppy-pad-holder-silicone" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1298/care-hygiene/training-pads/puppy-pad-holder-silicone); return !ga.loaded;" title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png"> </div>
                                            <div class="caption">
                                                <p class="name">Puppy Pad Holder Silicone</p>
                                                <p class="price"><span class="regular">$2.60</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/1299/care-hygiene/training-pads/classic-pad-holder-grey" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/1299/care-hygiene/training-pads/classic-pad-holder-grey); return !ga.loaded;" title="" class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png"> </div>
                                            <div class="caption">
                                                <p class="name">Classic Pad Holder - grey</p>
                                                <p class="price"><span class="regular">$3.03</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/13100/care-hygiene/training-pads/puppy-training-pads--size-45-x-60-cm" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/13100/care-hygiene/training-pads/puppy-training-pads--size-45-x-60-cm); return !ga.loaded;"
                                            title="" class="thumbnail product">
                                            <div class="labels-wrapper"><span class="label label-danger bg-info ">new</span></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png"> </div>
                                            <div class="caption">
                                                <p class="name">Puppy Training Pads - size: 45 x 60 cm</p>
                                                <p class="price"><span class="regular">$0.83</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/13101/care-hygiene/training-pads/puppy-training-pads-size-60-x-60-cm" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/13101/care-hygiene/training-pads/puppy-training-pads-size-60-x-60-cm); return !ga.loaded;"
                                            title="" class="thumbnail product">
                                            <div class="labels-wrapper"><span class="label label-danger bg-info ">new</span></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png"> </div>
                                            <div class="caption">
                                                <p class="name">Puppy Training Pads - size: 60 x 60 cm</p>
                                                <p class="price"><span class="regular">$1.24</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/13102/care-hygiene/training-pads/puppy-training-pads-size-90-x-60-cm" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/13102/care-hygiene/training-pads/puppy-training-pads-size-90-x-60-cm); return !ga.loaded;"
                                            title="" class="thumbnail product">
                                            <div class="labels-wrapper"><span class="label label-danger bg-info ">new</span></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png"> </div>
                                            <div class="caption">
                                                <p class="name">Puppy Training Pads - size: 90 x 60 cm </p>
                                                <p class="price"><span class="regular">$1.73</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                    <!-- Products -->
                                    <div class="col-md-3 col-sm-6 no-padding">
                                        <a href="http://www.petseurope.eu/en/dogs/13103/care-hygiene/training-pads/carbon-dog-training-pads-25" onclick="trackProductClick(http://www.petseurope.eu/en/dogs/13103/care-hygiene/training-pads/carbon-dog-training-pads-25); return !ga.loaded;" title=""
                                            class="thumbnail product">
                                            <div class="labels-wrapper"></div>
                                            <div class="img-container">
                                                <img class="img-responsive" src="http://www.petseurope.eu/Cached/108/resize/550x580/10100103-DOG-Waste-Bags-300-680x680.png"> </div>
                                            <div class="caption">
                                                <p class="name">Carbon Dog Training Pads 25</p>
                                                <p class="price"><span class="regular">$2.58</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-template="tpl_pagination" data-effect="replaceWith" id="pagination">
                        <nav data-template="tpl_pagination">
                            <ul class="pagination">
                                <li class="active"><a href="http://www.petseurope.eu/en/dogs/1226/care-hygiene/view=grid" data-page="1">1</a></li>
                                <li><a href="http://www.petseurope.eu/en/dogs/1226/care-hygiene/view=grid+page=2" data-page="2">2</a></li>
                                <li class="hidden-xs"><a href="http://www.petseurope.eu/en/dogs/1226/care-hygiene/view=grid+page=2" data-page="2" aria-label="Last"><span aria-hidden="true">Last</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>