<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <link rel="stylesheet" href="../../../css/chongyin/navbar.css">
</head>

<body>
    <div class="container">
        <div class="quick-nav">
            <ul>
                <li><a href="http://www.petseurope.eu/en/dogs/118/beds">Beds</a></li>
                <li><a href="http://www.petseurope.eu/en/dogs/119/bowls-feeders-dispensers">Bowls, Feeders &amp; Dispensers</a></li>
                <li class="active"><a href="http://www.petseurope.eu/en/dogs/1226/care-hygiene">Care &amp; Hygiene</a></li>
                <li><a href="http://www.petseurope.eu/en/dogs/1227/leads-collars-harnesses">Leads, Collars &amp; Harnesses</a></li>
                <li><a href="http://www.petseurope.eu/en/dogs/1228/travel-carriers">Travel &amp; Carriers</a></li>
                <li><a href="http://www.petseurope.eu/en/dogs/111/toys">Toys</a></li>
            </ul>
        </div>
    </div>
</body>

</html>